*{
    background-color: red;
    /* background-image: url('https://i.pinimg.com/originals/36/9c/63/369c6346e6f974afd6668bddbbf91bb5.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

h1{
  text-align: center;
  font-family: sans-serif;
  background-color: red;
}
p{
    font-size:large;
    font-family: sans-serif;
    float: right;;
}
/* .container{ */
    /* float: center; */
/* } */