

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}
.container{
    background-color: rgb(180, 123, 96);
    opacity: 0.9;
}
p{
    font-size:large;
    font-family: sans-serif;
    float: right;;
}
/* .container{ */
    /* float: center; */
/* } */